# Project exclude paths
/cmake-build-debug/
class1/onlineExamples/example3/string_functions.o
class1/onlineExamples/example3/myapp
class1/onlineExamples/example3/main.o
class1/onlineExamples/example3/.idea/vcs.xml
class1/onlineExamples/example3/.idea/misc.xml
class1/onlineExamples/emample2/CMakeLists.txt
class1/onlineExamples/emample2/cmake-build-debug/Testing/Temporary/LastTest.log
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/rules.ninja
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/emample2.dir/main.c.o
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/CMakeOutput.log
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/CMakeError.log
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/cmake.check_cache
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/clion-environment.txt
arrayPointerDistinct
class1/onlineExamples/emample2/.idea/misc.xml
class1/onlineExamples/emample2/.idea/modules.xml
class1/onlineExamples/emample2/.idea/vcs.xml
class1/onlineExamples/emample2/.idea/workspace.xml
class1/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/query/cache-v2
class1/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
class1/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
class1/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
class1/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-b1e9e0880895ae93f83f.json
class1/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e69e7cf79562b0741f07.json
class1/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4547117e41b1c001d7bf.json
class1/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
class1/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/index-2023-09-24T23-57-48-0385.json
class1/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/target-emample2-Debug-39f8b7185803ecec9f7a.json
class1/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-5896f1444c2b2e9a8321.json
class1/onlineExamples/emample2/cmake-build-debug/.ninja_deps
class1/onlineExamples/emample2/cmake-build-debug/.ninja_log
class1/onlineExamples/emample2/cmake-build-debug/build.ninja
class1/onlineExamples/emample2/cmake-build-debug/cmake_install.cmake
class1/onlineExamples/emample2/cmake-build-debug/CMakeCache.txt
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.o
class1/onlineExamples/emample2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
myGenericSwap
myNumberSwap
myNumberSwap.dSYM/Contents/Info.plist
myNumberSwap.dSYM/Contents/Resources/DWARF/myNumberSwap
myPersonSwap
printnumbers
swap
*.txt
*.plist
catFiles
class3/practice/catFiles
class3/practice/practice
class3/practice/process
conditionvaraibles
createFifo
multiChildProcess.dSYM/Contents/Resources/DWARF/multiChildProcess
pipe
pipeString.dSYM/Contents/Resources/DWARF/pipeString
pipeStringCount.dSYM/Contents/Resources/DWARF/pipeStringCount
process.dSYM/Contents/Resources/DWARF/process
readFromFIFO.dSYM/Contents/Resources/DWARF/readFromFIFO
threeTasksSychnronizationPipes
writeToFIFO.dSYM/Contents/Resources/DWARF/writeToFIFO
Archive.zip
assignment6/shmreader
assignment6/shmwriter
class10/Practice/producerConsumer
class10/Practice/reader
class10/Practice/writer
class9/Practice/client
class9/Practice/server
producerConsumer
