# Project exclude paths
/cmake-build-debug/
firstClass/onlineExamples/example3/string_functions.o
firstClass/onlineExamples/example3/myapp
firstClass/onlineExamples/example3/main.o
firstClass/onlineExamples/example3/.idea/vcs.xml
firstClass/onlineExamples/example3/.idea/misc.xml
firstClass/onlineExamples/emample2/CMakeLists.txt
firstClass/onlineExamples/emample2/cmake-build-debug/Testing/Temporary/LastTest.log
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/rules.ninja
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/emample2.dir/main.c.o
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/CMakeOutput.log
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/CMakeError.log
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/cmake.check_cache
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/clion-environment.txt
arrayPointerDistinct
firstClass/onlineExamples/emample2/.idea/misc.xml
firstClass/onlineExamples/emample2/.idea/modules.xml
firstClass/onlineExamples/emample2/.idea/vcs.xml
firstClass/onlineExamples/emample2/.idea/workspace.xml
firstClass/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/query/cache-v2
firstClass/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
firstClass/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
firstClass/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
firstClass/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-b1e9e0880895ae93f83f.json
firstClass/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e69e7cf79562b0741f07.json
firstClass/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4547117e41b1c001d7bf.json
firstClass/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
firstClass/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/index-2023-09-24T23-57-48-0385.json
firstClass/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/target-emample2-Debug-39f8b7185803ecec9f7a.json
firstClass/onlineExamples/emample2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-5896f1444c2b2e9a8321.json
firstClass/onlineExamples/emample2/cmake-build-debug/.ninja_deps
firstClass/onlineExamples/emample2/cmake-build-debug/.ninja_log
firstClass/onlineExamples/emample2/cmake-build-debug/build.ninja
firstClass/onlineExamples/emample2/cmake-build-debug/cmake_install.cmake
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeCache.txt
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.o
firstClass/onlineExamples/emample2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
myGenericSwap
myNumberSwap
myNumberSwap.dSYM/Contents/Info.plist
myNumberSwap.dSYM/Contents/Resources/DWARF/myNumberSwap
myPersonSwap
printnumbers
swap
